<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quara Post</h1>
    <hr>
    <% for(post of posts) {  %>
           <div class="post">
            <h2>@<%= post.username %></h2>
            <h3><%= post.content %></h3>
            <br>
            <a href="/posts/<%= post.id %>">see in detail</a>
            <a href="/posts/<%= post.id %>/edit">Edit</a>
            
            <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                <button>Delete Post</button>
            </form>
           </div>
     <% } %>
     <br><br>
     <a href="http://localhost:8080/posts/new">Create a new post</a>
</body>
</html>